.site-branding {
	margin: $breathing-room;
}

.site-content {
	// margin: $breathing-room;
}

.content-area {
	float: center;
	margin: 0 0 0 0;
	width: $size__site-main;
}

.site-main {
	margin: $breathing-room;
}

.site-main .featured {
	margin: $features-dont-breathe;
}


.site-footer {
	clear: both;
	width: $size__site-main;
	overflow: visible;
	padding: $breathing-room;
}






