h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__head;
	font-weight: 100;
	color: $color__text-hr;
	padding: $breathing-room;
	text-transform: uppercase;
  	letter-spacing: $font__spacing/2;
}