$color__background-body: #99CCCC;
$color__background-footer: #333333;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #666666;

$color__text-screen: #404040;
$color__text-input: #666;
$color__text-input-focus: #999;
$color__link: #FFFFFF;
$color__link-visited: #666666;
$color__link-hover: #CCCCCC;
$color__text-main: #FFFFFF;
$color__text-hr: #FFFFFF;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
